@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color: var(--foreground);
    background: var(--background);
  }
  
  
  body {
    background-color: white;
    color: black;
  }
  
  [data-theme="dark"] {
    background-color: black;
    color: white;
  }
  